<a href="{% url 'products' %}?category=nfl-items-afc,nfl-items-nfc,nfl-items-vintage,nfl-items-sale,nfl-items"><img class="logo" src="media/custom/nfl-logo.jpg" alt=""></a>
<a href="{% url 'products' %}?category=nba-items-east,nba-items-west,nba-items-vinatage,nba-items-sale,nba-items"><img class="logo" src="media/custom/nba-logo.jpg" alt=""></a>
<a href="{% url 'products' %}?category=mlb-items-al,mlb-items-nl,mlb-items-vintage,mlb-items-sale,mlb-items"><img class="logo" src="media/custom/mlb-logo.jpg" alt=""></a>
<a href="{% url 'products' %}?category=nhl-items,nhl-items-east,nhl-items-west,nhl-items-vintage,nhl-item-sale"><img class="logo" src="media/custom/nhl-logo.jpg" alt=""></a>
<a href="{% url 'products' %}?category=ncaa-items,ncaa-items-football,ncaa-items-basketball,ncaa-items-vintage,ncaa-items-sale"><img class="logo" src="media/custom/ncaa-logo.jpg" alt=""></a>
<a href="{% url 'products' %}?category=mls-items,mls-items-east,mls-items-west,mls-items-vintage,mls-items-sale"><img class="logo" src="media/custom/mls-logo.jpg" alt=""></a>

<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!--NFL Below Here-->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nfl-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NFL
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=nfl-items-afc" class="dropdown-item">AFC</a>
                <a href="{% url 'products' %}?category=nfl-items-nfc" class="dropdown-item">NFC</a>
                <a href="{% url 'products' %}?category=nfl-items-vintage" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=nfl-items-sale" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=nfl-items-afc,nfl-items-nfc,nfl-items-vintage,nfl-items-sale,nfl-items" class="dropdown-item">All Items</a>
            </div>
        </li>

         <!--NBA Below Here-->

         <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nba-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NBA
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=nba-items-east" class="dropdown-item">Eastern Conference</a>
                <a href="{% url 'products' %}?category=nba-items-west" class="dropdown-item">Western Conference</a>
                <a href="{% url 'products' %}?category=nba-items-vintage" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=nba-items-sale" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=nba-items-east,nba-items-west,nba-items-vinatage,nba-items-sale,nba-items" class="dropdown-item">All Items</a>
            </div>
        </li>

          <!--MLB Below Here-->

          <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="" id="mlb-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MLB
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=mlb-items-al" class="dropdown-item">American League</a>
                <a href="{% url 'products' %}?category=mlb-items-nl" class="dropdown-item">National League</a>
                <a href="{% url 'products' %}?category=mlb-items-vintage" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=mlb-items-sale" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=mlb-items-al,mlb-items-nl,mlb-items-vintage,mlb-items-sale,mlb-items" class="dropdown-item">All Items</a>
            </div>
        </li>

           <!--NHL Below Here-->

           <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nhl-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                NHL
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=nhl-items-east" class="dropdown-item">Eastern Conference</a>
                <a href="{% url 'products' %}?category=nhl-items-west" class="dropdown-item">Western Conference</a>
                <a href="{% url 'products' %}?category=nhl-items-vintage" class="dropdown-item">Vintage</a>
                <a href="{% url 'products' %}?category=nhl-items-sale" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}?category=nhl-items,nhl-items-east,nhl-items-west,nhl-items-vintage,nhl-item-sale" class="dropdown-item">All Items</a>
            </div>
        </li>

    
            <!--NCAA Below Here-->

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="ncaa-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    NCAA
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=ncaa-items-football" class="dropdown-item">Football</a>
                    <a href="{% url 'products' %}?category=ncaa-items-basketball" class="dropdown-item">Basketball</a>
                    <a href="{% url 'products' %}?category=ncaa-items-vintage" class="dropdown-item">Vintage</a>
                    <a href="{% url 'products' %}?category=ncaa-items-sale" class="dropdown-item">Sale</a>
                    <a href="{% url 'products' %}?category=ncaa-items,ncaa-items-football,ncaa-items-basketball,ncaa-items-vintage,ncaa-items-sale" class="dropdown-item">All Items</a>
                </div>
            </li>

             <!--MLS Below Here-->

             <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="mls-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    MLS
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=mls-items-east" class="dropdown-item">Eastern Conference</a>
                    <a href="{% url 'products' %}?category=mls-items-west" class="dropdown-item">Western Conference</a>
                    <a href="{% url 'products' %}?category=mls-items-vintage" class="dropdown-item">Vintage</a>
                    <a href="{% url 'products' %}?category=mls-items-sale" class="dropdown-item">Sale</a>
                    <a href="{% url 'products' %}?category=mls-items,mls-items-east,mls-items-west,mls-items-vintage,mls-items-sale" class="dropdown-item">All Items</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item"></a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item"></a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item"></a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item"></a>
                    <a href="{% url 'products' %}?category=ncaa-items" class="dropdown-item"></a>
                </div>
            </li>
        
    </ul>
</div>